body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f0c46d;
  background-image: url("./pictures/background.svg");
  background-size: 37%; }

.custom {
  width: 100%;
  height: 160px;
  margin-bottom: 5px;
  background-color: #f1c46d;
  border-radius: 12px; }

.login {
  background-image: url("./pictures/img_avatar2.png");
  background-size: contain;
  width: 140px;
  height: 140px;
  background-repeat: no-repeat;
  background-color: #f0c46d; }

.loginLogo {
  background-image: url("./pictures/img_avatar2.png");
  background-size: contain;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 30px auto 10px; }

.loginDiv {
  position: absolute;
  left: 0;
  right: 0; }

.delete{
  background-color: rgba(220, 241, 246, 0.4);
  background-image: none;
  font-weight: 700;
  text-shadow: none;
  border: solid 1px #ffffd1;


}

.delete:hover{
  background-color: rgba(220, 241, 246, 0.6);
}

.overview{
  margin-top: 10px;
  text-align: left;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 5px;
}

#warning{
  background-color: rgba(227, 68, 60, 0.4);
  color: #7e1806;
border: solid 3px #7e1806;

}

#notbad{
  background-color: rgba(253, 255, 31, 0.5);
  color: #62690a;
  border: solid 3px #62690a;
}

#good{
  background-color: rgba(92, 154, 29, 0.5);
  color: #074b0a;
  border: solid 3px #074b0a;

}

.overview h2{
  text-align: center;
}

.example-enter {
  opacity: 0; }

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity .6s ease; }

.example-leave.example-leave-active {
  opacity: 0;
  transition: opacity .6s ease; }

.container-fluid h2 {
  font-family: 'Kaushan Script', cursive; }

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: rgba(249, 249, 249, 0.6); }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-image: none; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-image: none; }

.navbar-default {
  background-color: #e3443c;
  border-color: #9a4e3e;
  background-image: none; }
  .navbar-default .navbar-brand {
    color: #dcf1f6; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      color: #ecdbff; }
  .navbar-default .navbar-text {
    color: #dcf1f6; }
  .navbar-default .navbar-nav > li > a {
    color: #dcf1f6; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #ecdbff; }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ecdbff;
    background-color: #9a4e3e; }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #ecdbff;
    background-color: #9a4e3e; }
  .navbar-default .navbar-toggle {
    border-color: #9a4e3e; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #9a4e3e; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #dcf1f6; }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #dcf1f6; }
  .navbar-default .navbar-link {
    color: #dcf1f6; }
    .navbar-default .navbar-link:hover {
      color: #ecdbff; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #dcf1f6; }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #ecdbff; }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
    background-color: #9a4e3e; } }
.graf {
  opacity: 1; }

@media (max-width: 768px) {
  .graf {
    opacity: 0;
    height: 0; } }

/*# sourceMappingURL=index.css.map */
