$baseColor: rgb(240, 196, 109);

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: $baseColor;
  background-image: url('./pictures/background.svg');
  background-size: 37%;
}

.custom{
  width: 100%;
  height: 160px;
  margin-bottom: 5px;
  background-color: rgb(241, 196, 109);
  border-radius: 12px;

}

.login{
  background-image: url('./pictures/img_avatar2.png');
  background-size: contain;
  width: 140px;
  height: 140px;
  background-repeat: no-repeat;
  background-color: $baseColor;
}

.loginLogo{
  background-image: url('./pictures/img_avatar2.png');
  background-size: contain;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 30px auto 10px;
}

.container-fluid h2{
  font-family: 'Kaushan Script', cursive;
}

.table-striped > tbody > tr:nth-of-type(odd){
background-color: rgba(249, 249, 249, 0.6);

}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
  background-image: none;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
  background-image: none;
}

$bgDefault      : #e3443c;
$bgHighlight    : #9a4e3e;
$colDefault     : #dcf1f6;
$colHighlight   : #ecdbff;
$dropDown       : false;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  background-image: none;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li {
            > a {
              color: $colDefault;
              &:hover,  &:focus {
                color: $colHighlight;
                background-color: $bgHighlight; }}
            &.divider {
              background-color: $bgHighlight;}}}}}
    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}




